@model IEnumerable<CourseWork2.Models.Account>
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Мой аккаунт";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Профиль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    <h2>Имя</h2>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <h2>Информация</h2>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <h2>E-mail</h2>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    <h2>Номер телефона</h2>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            <td>
                @*@inject UserManager<IdentityUser> UserManager
                @{
                    var currentUser = await UserManager.GetUserAsync(User);
                    var currentUserId = currentUser.Id;
                }
                @if (item.User.Id == currentUserId)
                {*@
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
               @* }*@
            </td>
        </tr>
        <tr>
            <td>
                <h2>Избранные Резюме</h2>
                @foreach (var resume in item.Resumes)
                {
                    <p>
                        <a asp-controller="Resumes" asp-action="Details" asp-route-id="@resume.Id">@resume.Post</a>
                    </p>
                }
            </td>
            <td>
                <h2>Избранные вакансии</h2>
                @foreach (var employerRequest in item.EmployerRequests)
                {
                    <p>
                        <a asp-controller="EmployerRequests" asp-action="Details" asp-route-id="@employerRequest.Id">@employerRequest.Post</a>
                    </p>
                }
            </td>
        </tr>
}
    </tbody>
</table>
