@model IEnumerable<CourseWork2.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Профиль
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <h2>Информация</h2>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Созданные Резюме</h2>
                @foreach (var resume in item.Resumes)
                {
                    <p>@resume.Post</p>
                }
                @Html.DisplayFor(modelItem => item.Resumes)
            </td>
            <td>
                <h2>Созданные вакансии</h2>
                @foreach (var employerRequest in item.EmployerRequests)
                {
                    <p>@employerRequest.Post</p>
                }
                @Html.DisplayFor(modelItem => item.Resumes)
            </td>
        </tr>
}
    </tbody>
</table>
